<div class="corrusel-container-body mb-5">
    <div class="d-flex justify-content-between mb-4 mt-5">
      <div>
        <h3 class="what-view ">Qué ver</h3>
      </div>
      <div>
        <a class="text-decoration-none text-color-blue" href="/">Obtener más informaciones  <fa-icon  [icon]="faChevronRight"></fa-icon></a>
      </div>
    </div>
    <div >
      <div >
        <a class="selection-popular icon-hover d-flex align-items-center" href="/"> 
          <fa-icon class="primary-color-text me-2 fs-4" [icon]="faGripLinesvertical"></fa-icon><h4 class="mb-0 title-hover" >Selecciones populares </h4><fa-icon class="ms-2 fs-4" [icon]="faChevronRight"></fa-icon>
        </a>
      </div>
      <div>
        <p class="program-film">Programas y películas solo para ti</p>
      </div>
    </div>
    <a class="text-decoration-none text-color-blue" href="/">Iniciar sesión</a>
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
          <div  class="carousel-item" *ngFor="let parte of partes; let i = index" [ngClass]="{active: i === 0}" >
            <div class="d-flex">
              <div class="cards-container-all cards-container-body main-bg-color " *ngFor="let movie of parte">
                <div class="card-container secondary-bg-color me-4 cards-conatiner-card">
                  <div class="card-image">
                    <img class="card-image_img image" src={{movie.imagen}} alt="">
                  </div>
                  <div class="ms-2 mt-2"> 
                    <div class="card-calification d-flex">
                      <fa-icon class="primary-color-text me-1" [icon]="movie.icon"></fa-icon>
                      <div class="text-calification">{{movie.calification}}</div>
                      <div><fa-icon class="text-light ms-4 " [icon]="faStar"></fa-icon></div>
                    </div>
                    <div class="title-card-container">
                      <a class="card-title" href="">
                        <h5 class="text-title-light title-hover">{{movie.title}}</h5>
                      </a>
                    </div>
                    <div class="card-footer mt-4">
                      <a class="card-view-now" href="">
                        <button class="button-seguimiento mb-3"><fa-icon [icon]="faPlus"></fa-icon> Lista de seguimiento</button>
                      </a>
                      <div class="card-trailer d-flex justify-content-center">
                        <button class="button-trailer secondary-bg-color button-hover-trailer"><fa-icon class="me-2" [icon]="faPlay"></fa-icon>Trailer</button>
                        <div><fa-icon class="text-light ms-5" [icon]="faCircleExclamation"></fa-icon></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
      </div>
    </div>

      <button 
        class="carousel-control-prev" 
        type="button" 
        data-bs-target="#carouselExample" 
        data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button 
        class="carousel-control-next" 
        type="button" 
        data-bs-target="#carouselExample" 
        data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
 </div>

